body{
    background-color: rgb(250, 250, 161);
    width: 950px;
    margin: auto;
}
h1,p{
    text-align: center;
}
button{
    background-color: aqua;
    font-size: 16px;
    border: 1px solid rgb(228, 26, 26);
    border-radius: 5px;
    
}